<% content_for :background_image do %>
  background-image: linear-gradient(to right bottom, #f9e5ae, #fbeabd, #fcf0cd, #fef5dc, #fffaec);
<% end %>

<div class="container">
  <h1 class="mt+ mb">Hey, I'm your dressing!</h1>
  <div class="text-center">
    <%= link_to "✨ Add something",
        new_article_path,
        class: "btn btn-add mb+" %>
  </div>
  <div class="row">
    <% @article.each do |article| %>
      <div class="col-xs-6">
        <div class="card-article-dressing">
          <div class="card-image"
               style="background-image: radial-gradient(closest-side, <%= article.color.hex %>, <%= article.color.hex %>, <%= article.color.hex %>, <%= article.color.hex %>, <%= article.color.hex %>, <%= article.color.hex %>, white);">
            <%= image_tag article.image,
                  alt: "Article",
                  width: 180,
                  height: 280 %>
            <div class="card-info" id="test">
              <div class="infos">
                <p><%= article.season.capitalize %></p>
                <p><%= article.usage.capitalize %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
