<div
  class="background2"
  style="background-image: url('<%= image_path("background_p2.jpg") %>')">

  <div class="container">
    <h1>All of your clothes are here 👗 </h1>
    <div class="row">
      <% @article.each do |article| %>
        <div class="col-xs-6">
          <div class="card-article-dressing">
            <div class="card-image"
                 style="background-color: <%= article.color.hex %>">
              <%= image_tag article.image,
                    alt: "Article",
                    width: 180,
                    height: 280 %>
              <div class="card-info">
                <div class="infos">
                  <p><%= article.season.capitalize %></p>
                  <p><%= article.usage.capitalize %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>

    <div class= "bouton-meow">
      <p>
        <%= link_to "Add a new clothe",
              articles_path,
              class: "btn btn-primary" %>
      </p>
      <br>
      <p>
        <%= link_to "See your proposals",
              articles_path,
              class: "btn btn-primary" %>
      </p>
    </div>
  </div>
</div>
