<h1>Add a new Article</h1>

<div class="container">

  <%= simple_form_for(@article) do |f| %>

    <%= f.input :wearable,
          collection: @wearables,
          prompt: "Select wearable type" %>

    <%= f.input :season,
        collection: Article.seasons.keys
        prompt: "Select a season" %>

    <%= f.input :color,
        collection: @colors,
        prompt: "Select a color" %>

    <%= f.input :usage,
        collection: Article.usages.keys
        prompt: "Select usage" %>

    <%= f.button :submit %>

  <% end %>
</div>
