<% content_for :background_image do %>
  background-image: linear-gradient(to right bottom, #f9e5ae, #fbeabd, #fcf0cd, #fef5dc, #fffaec);
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="centered">
        <%= simple_form_for(@article) do |f| %>
        <div class = "input-new-article mt">
          <%= f.input :wearable_type,
                label: false,
                collection: @wearable_types,
                prompt: "What's new?" %>
          <div class="hidden wearable" id="Top">
             <%= f.association :wearable,
              collection: @tops,
              prompt: "What kind of top?",
              label: false %>
          </div>
         <div class="hidden wearable" id="Dress">
            <%= f.association :wearable,
              collection: @dresses,
              prompt: "What kind of dress?",
              label: false %>
         </div>
         <div class="hidden wearable" id="Bottom">
             <%= f.association :wearable,
              collection: @bottoms,
              prompt: "What kind of bottom?",
              label: false %>
         </div>
          <div class="hidden wearable" id="Coat">
            <%= f.association :wearable,
              collection: @coats,
              prompt: "What kind of coat?",
              label: false %>
          </div>

          <div class="hidden wearable" id="Shoe">
            <%= f.association :wearable,
              collection: @shoes,
              prompt: "What kind of shoes?",
              label: false %>
          </div>
        </div>

        <div class = "input-new-article">
          <%= f.association :color,
              prompt: "What color is it?",
              label: false %>
        </div>

        <div
          class="div-article-new"
          id="div-article-color"
          data-colors="<%= @js_colors.to_json %>"
          data-images="<%= @js_images.to_json %>">

          <%= image_tag "croptop.png",
              alt: "croptop",
              class: "img-article" %>
        </div>

        <div class = "input-new-article mt">
          <%= f.input :season,
              collection: Article.seasons.keys,
              prompt: "What season is it for?",
              label: false %>
        </div>

        <div class = "input-new-article">
          <%= f.input :usage,
              collection: Article.usages.keys,
              prompt: "What is it for?",
              label: false %>
        </div>

        <div class="centered">
          <%= f.submit "Add article", class:"btn btn-add btn-block btn-lg mb mt" %>
          <%= link_to "I'm done", articles_path, class: "btn btn-block btn-see mb"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
