
<div class="background2" style="background-image: url('<%= image_path("background_p2.jpg") %>')">


  <h1>Create your dressing</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <%= simple_form_for(@article) do |f| %>
        <div class="card">
          <div class = "input-new-article">
            <%= f.input :wearable_type,
                  collection: @wearable_types,
                  prompt: "Select wearable type" %>
          </div>
        </div>
        <div class="card" id="">
          <div class = "input-new-article">
            <%# f.association :wearable,
                collection: @wearables,
                prompt: "Select wearable" %>
            <div class="hidden wearable" id="Top">
               <%= f.association :wearable,
                collection: @tops,
                prompt: "Select top" %>
            </div>
           <div class="hidden wearable" id="Dress">
              <%= f.association :wearable,
                collection: @dresses,
                prompt: "Select dress" %>
           </div>
           <div class="hidden wearable" id="Bottom">
               <%= f.association :wearable,
                collection: @bottoms,
                prompt: "Select wearable" %>
           </div>
            <div class="hidden wearable" id="Coat">
              <%= f.association :wearable,
                collection: @coats,
                prompt: "Select wearable" %>
            </div>

            <div class="hidden wearable" id="Shoe">
              <%= f.association :wearable,
                collection: @shoes,
                prompt: "Select wearable" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" id="wearable_image_create_dressing">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

            <div class="div-article-new" id="div-article-color" data-colors="<%= @js_colors.to_json %>">

              <%= image_tag "chemise_croptop.png",
                  alt: "Chemise",
                  :class => "img-article" %>
            </div>
          </div>
        </div>
      </div>

    <div class="row" id="wearable_option_create_dressing">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class = "input-new-article">
          <%= f.input :season,
              collection: Article.seasons.keys,
              prompt: "Select a season" %>
        </div>

        <div class = "input-new-article">

          <%= f.association :color,
              prompt: "Select a color" %>
        </div>

        <div class = "input-new-article">
          <%= f.input :usage,
              collection: Article.usages.keys,
              prompt: "Select usage" %>
        </div>
      </div>
    </div>
      <div class="row" id="wearable_option_create_dressing">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" >
          <div class="submit-edit-dressing">
            <%= f.button :submit %>
          </div>
        <% end %>
      <br>
      <div class="paf">
          <%= link_to "Your Dressing", articles_path, :class => "btn btn-success pif"%>
        </div>
      </div>
    </div>
        <br>
      </div>
    </div>
  </div>
</div>
