<div class="background2" style="background-image: url('<%= image_path("background_p2.jpg") %>')">

  <div class="container">

      <h1 class="h3 mt+ mb text-center text-bold text-italic">What's your plan today? </h1>
    <div class="proposal-wrap">

      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <div>
              <%= button_to "", {controller: "proposals", action: "results", usage: "work"}, method: :post, class: "card proposal-card-work mb--" %>
          </div>
          <div class="proposals-title mb text-center"> WORK 👩‍💻</div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div>
              <%= button_to "", {controller: "proposals", action: "results", usage: "chill"}, method: :post, class: "card proposal-card-chill mb--" %>
          </div>
          <div class="proposals-title mb text-center"> CHILL 🦄</div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div>
              <%= button_to "", {controller: "proposals", action: "results", usage: "night"}, method: :post, class: "card proposal-card-night mb--" %>
          </div>
          <div class="proposals-title text-center"> NIGHT ✨</div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div>
              <%= button_to "", {controller: "proposals", action: "results", usage: "sport"}, method: :post, class: "card proposal-card-sport mb--" %>
          </div>
          <div class="proposals-title text-center"> SPORT 👟</div>
        </div>
      </div>
  </div>
</div>





