<% content_for :background_image do %>
  background-image: linear-gradient(to right bottom, #f9e5ae, #fbeabd, #fcf0cd, #fef5dc, #fffaec);
<% end %>

<div class="container">
  <div class="meteo">
    <h2>☀️</h2>
    <h3>
      It's <strong><%= @season %></strong>, temperature will be <strong><%= @meteo.temperature %>°C</strong>
    </h3>
  </div>
  <hr>
  <h3 class="text-center mb+">To <%= @usage %>, we recommend: </h3>
  <div class="row">
    <% @proposals.each_with_index do |proposal, index| %>
      <div class="col-xs-6">
        <p class="text-center">Proposal n° <%= index +1  %></p>
        <div class="outfit">
          <% proposal.articles.each do |article| %>
            <div class="background"
                 style="background-color: <%= article.color.hex %>">
              <%= image_tag article.image, alt: "Article", height: 250, width: 167 %>
               <div class="card-info">
                <div class="infos">
                  <p><%= article.wearable.kind.capitalize %></p>
                  <p><%= article.color.name.capitalize %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <br>
      </div>
    <% end %>
  </div>
</div>
