<div class="meteo">
  <h2>🔆</h2>
  <h3>
    It's <strong><%= @season %></strong>, temperature will be <strong><%= @meteo.temperature %>°C</strong>
  </h3>
</div>

<h2>To <%= @usage %>, we recommend: </h2>

<div class="container">
  <h3> Here it's the <%= @season %>, the temperature is around: <%= @meteo.temperature %>°C, atmosphere is <%= @meteo.description %>
  <img src="https://www.weatherbit.io//static/img/icons/<%= @meteo.icon %>.png"> </h3>
  <h3>To <%= @usage %>, we recommend: </h3>
  <div class="row">
  <% @proposals.each_with_index do |proposal, index| %>
    <div class="col-xs-6">
      <p>Proposal n° <%= index +1  %></p>
      <% proposal.articles.each do |article| %>
        <!-- <div class="article-outfit" style="background-color: <%= article.color.hex %>; background-image: url('<%= image_path(article.image) %>')"> -->

        <div class="article-outfit" style="background-color: <%= article.color.hex %>">
          <%= image_tag article.image, alt: "Article", class:"sape" %>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
