<h3>
Here it's the <%= @season %>, the temperature is around: <%= @meteo.temperature %>°C, atmosphere is <%= @meteo.description %>
<img src="https://www.weatherbit.io//static/img/icons/<%= @meteo.icon %>.png">
</h3>

<h2>To <%= @usage %>, we recommend: </h2>

<div class="container">
  <div class="row">
    <% @proposals.each_with_index do |proposal, index| %>
      <p>Proposal n° <%= index +1  %></p>
      <ul>
      <% proposal.articles.each do |article| %>
        <li>Un(e) <%= article.wearable_type %> : <%= article.wearable.kind %> couleur <%= article.color.name %></li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>
