<div class="meteo">
  <h2>🔆</h2>
  <h3>
    It's <strong><%= @season %></strong>, temperature will be <strong><%= @meteo.temperature %>°C</strong>
  </h3>
</div>

<h2>To <%= @usage %>, we recommend: </h2>

<div class="container">
  <div class="row">
    <% @proposals.each_with_index do |proposal, index| %>
      <p>Proposal n° <%= index +1  %></p>
      <ul>
      <% proposal.articles.each do |article| %>
        <li>Un(e) <%= article.wearable_type %> : <%= article.wearable.kind %> couleur <%= article.color.name %></li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>
