<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Me Vestido</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
</head>
<body>


  <div class="site-wrapper">
    <div class="site-wrapper-header">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
    </div>
    <div class="site-wrapper-content site-wrapper-background" style="<%= yield :background_image %>">
      <%= yield %>
    </div>
    <div class="site-wrapper-footer">
      <%= render 'shared/footer' %>
    </div>
  </div>



  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'new_article' %>
</body>
</html>
